.new-folder {
  color: #bdbdbd;
  font-family: var(--custom-font);
  padding-left: 16px;
  padding-top: 32px;
  text-shadow: 2px 1px 2px black;
}

.registration__button__group {
  padding-top: 20px;
}

.new-folder-button {
  margin-left: 20px;
}
